<style type="text/css">
/* .container {
  @include xy-grid-container;

} */


#fb {
    background-color: #3b5998;
      box-shadow: 0 -5px 0 #3b5998, 0 5px 0 #3b5998;
    }

#kreta {
  background-color: #22aed1;
    box-shadow: 0 -1.7px 0 #22aed1, 0 1.7px 0 #22aed1;
  }






</style>

    <!-- START Top Bar small -->
    <div class="data-sticky-container show-for-small-only" data-sticky-container>
      <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
          <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
          <div class="title-bar-left">
                <button class="menu-icon" type="button" data-toggle></button>&emsp;
                <strong>MENÜ</strong>
            </div>

          
          <div class="title-bar-right">
            <a href=https://www.facebook.com/petofiszeged target="_blank" id="fb" style="color: white"><i class="fa fa-facebook fa-lg" >&thinsp;</i><strong>PS</strong></a>&emsp;
            <a href=https://www.facebook.com/balintszeged/ target="_blank" id="fb" style="color: white"><i class="fa fa-facebook fa-lg">&thinsp;</i><strong>BS</strong></a>
          </div>&emsp;
          <a href="https://klik200218001.e-kreta.hu" target="_blank" id="kreta" style="color: white; line-height: 1.5rem">
            <img src="{{root}}assets/img/kreta_logo_small.png">&thinsp;<strong>PS</strong></a>&emsp;
            <a href="https://klik200218003.e-kreta.hu" target="_blank" id="kreta" style="color: white; line-height: 1.5rem"><img src="{{root}}assets/img/kreta_logo_small.png">
              <strong>BS</strong></a>&thinsp;</div>
    
      <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top hinge-out-from-top">
        <div class="top-bar-left">
          <ul class="vertical dropdown menu hide-for-large" style="font-size: 1.2rem" data-magellan>
              {{> menu_in}}
        </div>
      </div>
    
      </div>
    </div>
    
    
<!-- END Top Bar small -->


<span class="show-for-small-only">
  <p></p>
</span>  

<div class="grid-container">
<div class="grid-y medium-grid-frame">
  <span class="show-for-large">
    <img src="{{root}}assets/img/csik.jpg">
    
  </span>

<h5 class="text-center show-for-large" style="margin-top: -1rem">

  <a href="{{root}}index.html"><img src="{{root}}assets/img/logo_ps.jpg" style="margin-top: 1.2rem"></a>

    <strong>A <font color="#3fa9f5">Szegedi Petőfi Sándor Általános Iskola</font> és a <font color="#f7931e">Bálint Sándor Tagiskola</font> honlapja</strong>
<a href="{{root}}index.html"><img src="{{root}}assets/img/logo_bs.jpg" style="margin-top: 1.2rem"></a></h5>
<p class="text-center show-for-large" style="margin-top: -2.2rem">

      Az intézmény fenntartója a Szegedi Tankerületi Központ
  </p>
  <h4 class="text-center show-for-small-only">
    <strong>A <font color="#3fa9f5">Szegedi Petőfi Sándor Általános Iskola</font><br />és a <font color="#f7931e">Bálint Sándor Tagiskola</font> honlapja</strong><br />
<small><font color="gray">
      Az intézmény fenntartója a Szegedi Tankerületi Központ</font>
    </small>
  </h4>


  



<span class="show-for-large">

  <img src="{{root}}assets/img/csik_bottom.jpg" style="margin-top: -2rem; margin-left: 7px; padding-right: 20px";>


</span>






