<style type="text/css">

  .accordion-menu a {
  box-shadow: inset 0 -1px #a2e7f6;
      line-height: 1.3rem;
}

</style>

<ul class="vertical menu accordion-menu" data-accordion-menu>

  <li>
    <a href="#"><strong>Elérhetőségeink</strong></a>
    <ul class="menu vertical nested">
      <li>
        <a href="{{root}}bemutatkozas/elerhetosegeink.html">Címek, e-mailcímek,<br>telefonszámok</a>
      </li>
      <li>
        <a href="#">Helyünk a térképen</a>
        <ul class="menu vertical nested">

      <ul class="menu">
        <a href="{{root}}elerhetosegeink_ps.html">Petőfi</a>&emsp;
        <a href="{{root}}elerhetosegeink_bs.html">Bálint</a>
      </ul>
    </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="#">Bemutatkozás</a>
    <ul class="menu vertical nested">
      <li>
        <a href="#">Tanáraink</a>
          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}bemutatkozas/tanaraink_ps.html">Petőfi</a>&emsp;
              <a href="{{root}}bemutatkozas/tanaraink_bs.html">Bálint</a>
            </ul>
          </ul>
      </li>
      <li>
        <a href="#">Hitoktatók</a>
          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}bemutatkozas/hitoktatok_ps_2019_20.html">Petőfi</a>&emsp;
              <a href="{{root}}bemutatkozas/hitoktatok_bs_2019_20.html">Bálint</a>
            </ul>
          </ul>
      </li>
    <li>
      <a href="{{root}}assets/bemutatkozas/pedagogiai_program_ps_bs.pdf" target="_blank">Pedagógiai program</a>
    </li>
    <li>
      <a href="{{root}}assets/bemutatkozas/ped_prog_mellekletei_ps_bs.pdf" target="_blank">Pedagógiai program<br />mellékletei</a>
    </li>
    <li>
    <a href="{{root}}assets/bemutatkozas/szmsz_ps_bs_2019_20.pdf" target="_blank">SzMSz</a>
    </li>
    <li>
      <a href="{{root}}assets/bemutatkozas/kollektiv_szerzodes_ps_bs.pdf" target="_blank">Kollektív szerződés</a>
    </li>
    <li>
      <a href="{{root}}assets/bemutatkozas/imip.pdf" target="_blank">IMIP</a>
    </li>
    <li>
      <a href="{{root}}assets/bemutatkozas/hazirend_ps_bs.pdf" target="_blank">Házirend</a>
    </li>     
    <li>
      <a href="{{root}}assets/bemutatkozas/gyermekvedelem.pdf" target="_blank">Gyermekvédelem</a>
    </li>
    <li>
      <a href="#">Tankönyek</a>
      <ul class="menu vertical nested">
        <ul class="menu">
          <a href="{{root}}/bemutatkozas/tankonyvek_ps_2019_20.html">Petőfi</a>&emsp;
          <a href="{{root}}/bemutatkozas/tankonyvek_bs_2019_20.html" target="_blank">Bálint</a>
        </li>
      </ul>
    </ul>
  </li>
  <li>
    <a href="#">Taneszközök</a>
    <ul class="menu vertical nested">
      <ul class="menu">
        
        <a href="{{root}}/bemutatkozas/taneszkozok_ps_2019_20.html">Petőfi</a>&emsp;
                 
        <!-- <a href="{{root}}assets/bemutatkozas/taneszkoz_ps_2018_19.pdf" target="_blank">Petőfi</a>&emsp; -->
        <a href="{{root}}/bemutatkozas/taneszkozok_bs_2019_20.html">Bálint</a>
      </li>
    </ul>
  </ul>
  </li>

  </ul>
  <li>
    <a href="#">Étkezési információk</a>
    <ul class="menu vertical nested">
      <li>
        <a href="http://www.ngsz.hu/index.php/kozetkeztetes" target="_blank">Étkezés – NGSZ információk</a>
      </li>
      <li>
        <a href="#">Befizetési időpontok, árak<!-- <br />(2019 március) --></a>
          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}befiz_idopontok_arak_ps.html">Petőfi</a>&emsp;
              <a href="{{root}}befiz_idopontok_arak_bs.html">Bálint</a>
            </ul>
          </ul>
      </li>
      <li>
        <a href="{{root}}assets/img/balint_etlap_01_06_31.pdf" target="_blank">Bálintos étlap 2020 jan. 6–31.</a>
      </li>
    </ul>

    <li>
      <a href="#">Közzétételi lista</a>
      <ul class="menu vertical nested">
        <li>
          <a href="#">Felvételi lehetőségről<br />szóló tájékoztató</a>
            <ul class="menu vertical nested">
              <li>
                  <a href="{{root}}assets/kozzetetel/felveteli_tajekoztato.pdf" target="_blank">Felvétel lehetősége</a>
              </li>
              <li>
                  <a href="#">Beiratkozáskor leadandó nyomtatványok</a>
              <ul class="menu vertical nested">
                <li>
                    <a href="{{root}}assets/beiratkozas/nyilatkozat_felugyeleti_jogrol.pdf" target="_blank">Nyilatkozat felügyeleti<br />jog gyakorlásáról</a>
                </li>
                <li>
                    <a href="{{root}}assets/beiratkozas/nyilatkozat_hit_es_erkolcstanrol.pdf" target="_blank">Nyilatkozat etika,<br />illetve hit- és erkölcstan<br />oktatásról</a>
                </li>
              </ul>
              </li>
              <li>
                  <a href="{{root}}/beiratkozas/ps_bs_beiratkozasi_korzet.html" target="_blank">Körzetünk</a>
              </li>
              <li>
                  <a href="#">Iskolahívogatók</a>
              <ul class="menu vertical nested">
                <li>
                    <a href="{{root}}beiratkozas/iskolahivagato_ps_2019_20.html">Petőfis tájékoztató</a>
                </li>
                <li>
                    <a href="{{root}}beiratkozas/iskolahivagato_bs_2019_20.html">Bálintos tájékoztató</a>
                </li>
                <li>
                    <a href="{{root}}assets/beiratkozas/balintos_bemutatkozas_2018_osz.pdf" target="_blank">Bálintos bemutatkozás</a>
                </li>
              </ul>
              </li>
            </ul>
        </li>
        <li>
          <a href="#">Beiratkozás ideje,<br />engedélyezett osztályok,<br />csoportok száma</a>
            <ul class="menu vertical nested">
              <li>
              <a href="#">Beiratkozás ideje</a>
              <ul class="menu vertical nested">
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/beiratkozas/beiratkozas_ps_2019_20.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/beiratkozas/beiratkozas_bs_2019_20.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>

              </ul>
              <li>
              <a href="{{root}}assets/beiratkozas/osztalyok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett osztályok száma</a>

              <li>
              <a href="{{root}}assets/beiratkozas/csoportok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett csoportok száma</a>
              </li>
              </li>


            </ul>
        </li>
        <li>
            <a href="{{root}}kozzeteteli_lista/fentart_altal_eng_oszt_csop.html">A fentartó által engedélyezett osztályok, csoportok száma</a>
        </li>
        <li>
          <a href="{{root}}kozzeteteli_lista/teritesi_dij_tandij.html">Térítési díj, tandíj</a>
      </li>
        <li>
        <a href="{{root}}assets/informaciok/etkezesi_dijak_2020_marc.pdf" target="_blank">Étkezési térítési díjak (Petőfi/Bálint)</a>
        </li>

        <li>
        <a href="{{root}}kozzeteteli_lista/nyilvanos_vizsgalat.html" target="_blank">Fenntartói értékelés, nyilvános megállapításokat tartalmazó vizsgálatok</a>
        </li>

        <li>
          <a href="{{root}}assets/kozzetetel/nyitvatartas.pdf" target="_blank">Nyitvatartás rendje</a>
        </li>

        <li>
          <a href="{{root}}esemenynaptar.html">Eseménynaptárak</a>
          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}esemenynaptar_ps_2019_20.html">Petőfi</a>&emsp;
              <a href="{{root}}esemenynaptar_bs_2019_20.html">Bálint</a>
            </ul>
          </ul>
        </li>

        <li>
          <a href="{{root}}assets/kozzetetel/nyilvanos_vizsgalat.pdf" target="_blank">Pedagógiai-szakmai ellenőrzési feladatok ellenőrzése
          </a>
          <ul class="menu vertical nested">
            <li>
              <a href="{{root}}assets/kozzetetel/intezm_tanfelugyelet_ eredmenye_2018.pdf" target="_blank">Intézményi tanfelügyelet eredménye 2018</a>
            </li>
            <li>
              <a href="{{root}}assets/kozzetetel/intezmenyvezetoi_tanfelugyelet_eredmenye_2018.pdf" target="_blank">Intézményvezetői tanfelügyelet eredménye 2018</a>
            </li>
            <li>
              <a href="{{root}}assets/kozzetetel/pedagogus_tanfelugyeletenek_eredmenye_2016.pdf" target="_blank">Pedagógus tanfelügyeletének eredménye 2016</a>
            </li>
          </ul>
        </li>

      <li>
      <a href="{{root}}assets/bemutatkozas/szmsz_ps_bs_2019_20.pdf" target="_blank">SzMSz</a>
      </li>
      <li>
        <a href="{{root}}assets/bemutatkozas/hazirend_ps_bs.pdf" target="_blank">Házirend</a>
      </li>
      <li>
        <a href="{{root}}assets/bemutatkozas/pedagogiai_program_ps_bs.pdf" target="_blank">Pedagógiai program (Petőfi/Bálint)</a>
      </li>
      <li>
        <a href="{{root}}assets/kozzetetel/kompetencia_es_teljesitmenyalapu_ertekelesi_rendszer_helyi_szabalyzata.pdf" target="_blank">Kompetencia- és teljesítményalapú értékelési rendszer helyi szabályzata <br>
        (Petőfi Sándor Általános Iskola)</a>
      </li>
      <li>
        <a href="{{root}}assets/kozzetetel/pedagogiai_program_ps_bs_2018_19.pdf" target="_blank">Pedagógusok iskolai<br />végzettsége, szakképzettsége</a>
        <ul class="menu vertical nested">

          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}bemutatkozas/tanarok_kozzetetel_ps.html">Petőfi</a>&emsp;
              <a href="{{root}}bemutatkozas/tanarok_kozzetetel_bs.html">Bálint</a>
            </ul>
          </ul>
        </ul>
      </li>
      <li>
        <a href="">NOKS-osok száma,<br />szakképzettsége</a>
        <ul class="menu vertical nested">
          <ul class="menu vertical nested">
            <ul class="menu">
              <a href="{{root}}kozzeteteli_lista/noksosok_ps.html">Petőfi</a>&emsp;
              <a href="{{root}}kozzeteteli_lista/noksosok_bs.html">Bálint</a>
            </ul>
          </ul>
        </ul>
      </li>
   
      <li>
        <a href="{{root}}kozzeteteli_lista/kompetenciameres_eredmenyei.html">Országos mérés-értékelés évenkénti eredményei</a>
      </li>
      <li>
        <a href="{{root}}evismetles.html">Tanulók le- és kimaradásával, évfolyamismétlésével kapcsolatos adatok (Petőfi/Bálint)</a>
      </li>

      <li>
        <a href="#">Tanórán kívüli<br />foglalkozások<br />igénybevételének<br />lehetősége
        </a>
        <ul class="menu vertical nested">
          <li>
            <a href="#" target="_blank">Egyéni fejlesztés, tehetséggondozás</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/tanoran_kivuli/egyeni_fejlesztes_ps_2018_2019.pdf" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/tanoran_kivuli/egyeni_fejlesztes_bs_2018_2019.pdf" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Szakköreink</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szakkorok_ps_2019_20.html" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szakkorok_bs_2019_20.html" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Művészeti oktatás</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/tanoran_kivuli/muveszeti_oktatas_ps.pdf" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/tanoran_kivuli/muveszeti_oktatas_bs.pdf" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Szaktárgyi korrepetálások</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/tanoran_kivuli/szaktargyi_korrepetalasok_ps_2018_2019.pdf" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/tanoran_kivuli/szaktargyi_korrepetalasok_bs_2018_2019.pdf" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{root}}assets/kozzetetel/hetvegi_hazi_feladat.pdf" target="_blank">Hétvégi házi feladatok, dolgozatok szabályai (Petőfi/Bálint)</a>
      </li>

        <li>
          <a href="{{root}}assets/kozzetetel/nyilvanos_vizsgalat.pdf" target="_blank">Tanulmányok alatti vizsgák követelményei
          </a>
          <ul class="menu vertical nested">
            <li>
              <a href="{{root}}assets/kozzetetel/osztalyozo_vizsgak_kovetelmenyei.pdf" target="_blank">Osztályozó vizsgák követelményei</a>
            </li>
            <li>
              <a href="{{root}}assets/kozzetetel/tanulmanyok_alatti_vizsgak_tervezett_rendje.pdf" target="_blank">A tanulmányok alatti vizsgák tervezett rendje</a>
            </li>

            <li>
              <a href="{{root}}assets/kozzetetel/osztalyozo_vizsgak_ertekelesi_rendje.pdf" target="_blank">Osztályozó vizsgák értékelési rendje</a>
            </li>
          </ul>
        </li>

      <li>
        <a href="#" target="_blank">Osztályok száma és tanulók létszáma</a>
        <ul class="menu vertical nested">
          <li>
            <a href="#" target="_blank">Petőfi</a>
            <ul class="menu vertical nested">
              <li>
                <a href="{{root}}osztalyaink/ps/1a_2019.html">1. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/2a_2019.html">2. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/3a_2019.html">3. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/4a_2019.html">4. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/5a_2019.html">5. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/6a_2019.html">6. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/7a_2019.html">7. osztály</a>
              </li>
              <li>
                <a href="{{root}}osztalyaink/ps/8a_2019.html">8. osztály</a>
              </li>
                </ul>
          </li>
          <li>
            <a href="#" target="_blank">Bálint</a>
            <ul class="menu vertical nested">
            <li>
              <a href="{{root}}osztalyaink/bs/1b_2019.html">1. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/2b_2019.html">2. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/3b_2019.html">3. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/4b_2019.html">4. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/5b_2019.html">5. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/6b_2019.html">6. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/7b_2019.html">7. osztály</a>
            </li>
            <li>
              <a href="{{root}}osztalyaink/bs/8b_2019.html">8. osztály</a>
            </li>
                </ul>
          </li>

            </ul>
          </ul>

          <li>
            <a href="#">Beiratkozás, felvétel</a>
              <ul class="menu vertical nested">
                <!-- <li>
                  <a href="#">A 2019/20-as tanév elsősei</a>
                    <ul class="menu vertical nested">
                      <ul class="menu">
                        <a href="{{root}}osztalyaink/ps/1a_2019.html">Petőfi</a>&emsp;
                        <a href="{{root}}osztalyaink/bs/1b_2019.html" target="_blank">Bálint</a>
                      </ul>
                    </ul>
                  </li> -->
                <li>
                  <a href="#">Elsősök beíratása</a>
                    <ul class="menu vertical nested">
                      <ul class="menu">
                        <a href="{{root}}assets/beiratkozas/beiratkozas_ps_2019_20.pdf" target="_blank">Petőfi</a>&emsp;
                        <a href="{{root}}assets/beiratkozas/beiratkozas_bs_2019_20.pdf" target="_blank">Bálint</a>
                      </ul>
                    </ul>
                  </li>
                <li>
                  <a href="#">Beiratkozáskor leadandó nyomtatványok</a>
                  <ul class="menu vertical nested">
                    <li>
                      <a href="{{root}}assets/beiratkozas/nyilatkozat_felugyeleti_jogrol.pdf" target="_blank">Nyilatkozat felügyeleti<br />jog gyakorlásáról</a>
                    </li>
                    <li>
                      <a href="{{root}}assets/beiratkozas/nyilatkozat_hit_es_erkolcstanrol.pdf" target="_blank">Nyilatkozat etika,<br />illetve hit- és erkölcstan<br />oktatásról</a>
                    </li>
                  </ul>
                <li>
                  <a href="{{root}}assets/beiratkozas/osztalyok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett osztályok száma</a>
                </li>
                <li>
                  <a href="{{root}}assets/beiratkozas/csoportok_szama_ps_bs_2018_19.pdf" target="_blank">Engedélyezett csoportok száma</a>
                </li>
              </li>

              <li>
                <a href="#">Iskolahívogatók</a>
                  <ul class="menu vertical nested">
                    <li>
                      <a href="{{root}}beiratkozas/iskolahivagato_ps_2019_20.html">Petőfis tájékoztató</a>
                  </li>
                  <li>
                      <a href="{{root}}beiratkozas/iskolahivagato_bs_2019_20.html">Bálintos tájékoztató</a>
                  </li>
                  <li>
                      <a href="{{root}}assets/beiratkozas/balintos_bemutatkozas_2018_osz.pdf" target="_blank">Bálintos bemutatkozás</a>
                  </li>
                  </ul>
                </li>
            </ul>
            <li><a href="{{root}}tanev_rendje_2019_20.html">A tanév rendje</a></li>
          </li>

          <li>
            <a href="#" target="_blank">Osztályaink</a>
            <ul class="menu vertical nested">
              <li>
                <a href="#" target="_blank">Petőfi</a>
                <ul class="menu vertical nested">
                  <li>
                    <a href="{{root}}osztalyaink/ps/1a_2019.html">1. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/2a_2019.html">2. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/3a_2019.html">3. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/4a_2019.html">4. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/5a_2019.html">5. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/6a_2019.html">6. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/7a_2019.html">7. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/ps/8a_2019.html">8. osztály</a>
                  </li>
                    </ul>
              </li>
              <li>
                <a href="#" target="_blank">Bálint</a>
                <ul class="menu vertical nested">
                  <li>
                    <a href="{{root}}osztalyaink/bs/1b_2019.html">1. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/2b_2019.html">2. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/3b_2019.html">3. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/4b_2019.html">4. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/5b_2019.html">5. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/6b_2019.html">6. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/7b_2019.html">7. osztály</a>
                  </li>
                  <li>
                    <a href="{{root}}osztalyaink/bs/8b_2019.html">8. osztály</a>
                  </li>
                </ul>
              </li>
            </ul>

                <li>
            <a href="#">Órarendek</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/orarend/ps_2019_20_2_felev.pdf" target="blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/orarend/bs_2019_20_1_felev.pdf" target="blank">Bálint</a>
              </ul>
            </ul>
          </li>

          <li>
            <a href="#">Szülői értekezletek,<br>fogadóórák</a>
            <ul class="menu vertical nested">
              <li>
                <a href="#">Szülői értekezletek</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}szuloi_fogado/ps/szuloi_ertekezletek.html">Petőfi</a>&emsp;
                    <a href="{{root}}szuloi_fogado/bs/szuloi_ertekezletek.html">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">Fogadóórák</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}szuloi_fogado/ps/fogadoorak.html">Petőfi</a>&emsp;
                    <a href="{{root}}szuloi_fogado/bs/fogadoorak.html">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">Egyéni fogadóórák</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}szuloi_fogado/ps/egyeni_fogadoorak.html">Petőfi</a>&emsp;
                    <a href="{{root}}szuloi_fogado/bs/egyeni_fogadoorak.html">Bálint</a>
                  </ul>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Tanórán kívüli foglalkozások</a>
  <ul class="menu vertical nested">
          <li>
            <a href="#" target="_blank">Egyéni fejlesztés,<br>tehetséggondozás</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}tanoran_kivuli_foglalkozasok/egyeni_fejlesztes_ps_2019_20.html">Petőfi</a>&emsp;
                <a href="{{root}}tanoran_kivuli_foglalkozasok/egyeni_fejlesztes_bs_2019_20.html">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Szakköreink</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szakkorok_ps_2019_20.html" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szakkorok_bs_2019_20.html" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Művészeti oktatás</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}assets/tanoran_kivuli/muveszeti_oktatas_ps.pdf" target="_blank">Petőfi</a>&emsp;
                <a href="{{root}}assets/tanoran_kivuli/muveszeti_oktatas_bs.pdf" target="_blank">Bálint</a>
              </ul>
            </ul>
          </li>
          <li>
            <a href="#" target="_blank">Szaktárgyi korrepetálások</a>
            <ul class="menu vertical nested">
              <ul class="menu">
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szaktargyi_korrepetalasok_ps_2019_20.html">Petőfi</a>&emsp;
                <a href="{{root}}tanoran_kivuli_foglalkozasok/szaktargyi_korrepetalasok_bs_2019_20.html">Bálint</a>
              </ul>
            </ul>
          </li>
        </ul>
      </li>

          <li>
            <a href="#">Versenyeredmények</a>
            <ul class="menu vertical nested">
              <li>
                <a href="#">2018–2019</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_ps_2018_19.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_bs_2018_19.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">2017–2018</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_ps_2017_18.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_bs_2017_18.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">2016–2017</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_ps_2016_17.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_bs_2016_17.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">2015–2016</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_ps_2015_16.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_bs_2015_16.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="#">2014–2015</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_ps_2014_15.pdf" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}assets/versenyeredmenyek/versenyeredmenyek_bs_2014_15.pdf" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>

            </ul>
          </li>

          <li>
            <a href="#"><strong>Fotó archívum</strong></a>
            <ul class="menu vertical nested">
              <li>
                  <a href="">2016–2017</a>
                  <ul class="menu vertical nested">
                    <ul class="menu">
                      <!-- <a href="{{root}}galeriak/2016_17/ps/fooldal.html">Petőfi</a>&emsp; -->
                      <a href="{{root}}galeriak/2016_17/bs/fooldal.html">Bálint</a>
                    </ul>
                  </ul>
                </li>
                <li>
                  <a href="">2017–2018</a>
                  <ul class="menu vertical nested">
                    <ul class="menu">
                      <a href="{{root}}galeriak/2017_18/ps/fooldal.html">Petőfi</a>&emsp;
                      <a href="{{root}}galeriak/2017_18/bs/fooldal.html">Bálint</a>
                    </ul>
                  </ul>
                </li>
                <li>
                <a href="">2018–2019</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}galeriak/2018_19/ps/fooldal_ps.html">Petőfi</a>&emsp;
                    <a href="{{root}}galeriak/2018_19/bs/fooldal_bs.html">Bálint</a>
                  </ul>
                </ul>
              </li>
              <li>
                <a href="">2019–2020</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}galeriak/2019_20/ps/fooldal.html">Petőfi</a>&emsp;
                    <a href="{{root}}galeriak/2019_20/bs/fooldal.html">Bálint</a>
                  </ul>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Pályázatok</a>
            <ul class="menu vertical nested">
              <li>
                <a href="{{root}}palyazatok/ps_bs/EFOP_4_1_3.html">EFOP-4.1.3 (PS)</a>
              </li>
              <li>
              <a href="#"> <img src="{{root}}assets/img/hatartalanul_logo.gif" alt="Határtalanul logó"> Határtalanul</a>
                <ul class="menu vertical nested">
                  <li>
                    <a href="">2018–2019</a>
                    <ul class="menu vertical nested">
                      <ul class="menu">
                        <a href="{{root}}palyazatok/ps/hatartalanul_2018_19.html">Petőfi</a>&emsp;
                        <a href="{{root}}palyazatok/bs/hatartalanul_2018_19.html">Bálint</a>
                      </ul>
                    </ul>
                  </li>
                  <li>
                    <a href="">2017–2018</a>
                    <ul class="menu vertical nested">
                      <ul class="menu">
                        <a href="{{root}}palyazatok/ps/hatartalanul_2017_18.html">Petőfi</a>&emsp;
                        <a href="{{root}}palyazatok/bs/hatartalanul_2017_18.html">Bálint</a>
                      </ul>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{{root}}palyazatok/ps_bs/comenius_projekt.html">Comenius projekt (PS/BS)</a>
              </li>

              <li>
                <a href="#">„Mi iskolánk”</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}palyazatok/ps/mi_iskolank.html" target="_blank">Petőfi</a>&emsp;
                    <a href="{{root}}palyazatok/bs/mi_iskolank.html" target="_blank">Bálint</a>
                  </ul>
                </ul>
              </li>

              <li>
                <a href="#">TIOP 2008</a>
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}assets/palyazatok/ps/tiop_2008.ppsx">Petőfi</a>&emsp;
                    <a href="{{root}}assets/palyazatok/bs/tiop_2008.ppsx">Bálint</a>
                  </ul>
                </ul>
              </li>


            </ul>
          </li>

          <li>
            <a href="#">Alapítványok</a>
            
                <ul class="menu vertical nested">
                  <ul class="menu">
                    <a href="{{root}}alapitvanyok/petofitelepi_ifjusagert_alapitvany.html">Petőfi</a>&emsp;
                    <a href="{{root}}alapitvanyok/freinet_tanoda_alapitvany.html">Bálint</a>
                  </ul>
             
            </ul>
          </li>

          <li>
            <a href="#">Letölthető nyomtatványok</a>
            <ul class="menu vertical nested">
              <li>
                <a href="{{root}}assets/nyomtatvany/felmentes_16_oraig.pdf" target="_blank">Felmentés 16 óráig</a>
              </li>
              
              <li>
                <a href="{{root}}assets/nyomtatvany/felmentes_mindennapos_testnev_alol.pdf" target="_blank">Felmentés a mindennapos<br>testnevelés alól</a>
              </li>

            <li>
              <a href="{{root}}assets/nyomtatvany/szuloi_igazolas.pdf" target="_blank">Szülői igazolás</a>
            </li>

            <li>
              <a href="{{root}}assets/nyomtatvany/1szazalek_2020_ps.pdf" target="_blank">Adó 1%-ról nyilatkozat<br>a Székhelyre</a>
            </li>

            <li>
              <a href="{{root}}assets/nyomtatvany/1szazalek_2019_bs.pdf" target="_blank">Adó 1%-ról nyilatkozat<br>a Bálint S. Tagiskolába</a>
            </li> 

           </ul>
          </li>

          <li>
            <a href="#">e-Ügyintézés</a>
            <ul class="menu vertical nested">
              <li>
                <a href="{{root}}assets/e_ugyintezes/kreta_tajekoztato_szuloknek.pdf" target="_blank">Leendő elsősök szülei részére</a>
              </li>
              
              <li>
                <a href="{{root}}e_ugyintezes.html" target="_blank">Általános tájékoztató</a>
              </li>
              <li>
                <a href="https://tudasbazis.ekreta.hu/pages/viewpage.action?pageId=2424949&preview=/2424949/11829263/KR%C3%89TA%20rendszer%20%C3%A1ttekint%C3%A9se.pptx" target="_blank">A KRÉTA rendszer használata</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">GDPR tájékoztatók</a>
            <ul class="menu vertical nested">
              <li>
                <a href="{{root}}assets/gdpr/tanuloi_es_torv_kepvis_tajekoztato.pdf" target="_blank">Tanulói és törv. képviselő<br>tájékoztató</a>
              </li>
              
              <li>
                <a href="{{root}}assets/gdpr/munkavallaloi_tajekoztato.pdf" target="_blank">Munkavállalói tájékoztató</a>
              </li>
            </ul>
          </li>

            <li>
              <a href="http://kk.gov.hu/szeged" target="_blank">Intézményfenntartó</a>
            </li>

          <li>
            <a href="{{root}}impresszum.html">Impresszum</a>
          </li>

        </li>






  </li>
  </ul>

<!-- CLOSE vertical menu accordion-menu -->
</ul>









<!-- egészer záro <ul> -->
</ul>