<h5 class="text-center" style="margin-bottom: 1.1rem">
  Pedagógiai munkát segítők
</h5>

<table class="hover">
  <tbody>
    <tr>
      <td width="180">Czirok Mária</td>
      <td width="100">főiskola<br /> 
          felsőfokú<br />
          középfokú</td>
      <td width="320">könyvtáros<br />
        marketing és reklám menedzser<br />
        banki ügyintéző, marketing és reklám ügyintéző, belkereskedelmi, áruforgalmi, gazdálkodási ügyintéző
</td>
    </tr>
    <tr>
      <td>Hevesi István</td>
      <td>főiskola</td>
      <td>magyar–történelem szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Papdi Orsolya</td>
      <td>középfokú</td>
      <td>pedagógiai asszisztens</td>
    </tr>

  </tbody>
</table>