
      <div class="cell medium-2 medium-cell-block-y">


          <p class="text-center">
            <a href=https://www.facebook.com/petofiszeged target="_blank" class="primary button small" id="hover"><i class="fa fa-facebook fa-lg" style="color: white">&ensp;</i>PS Facebook</a>
            <br>
            <a href=https://www.facebook.com/balintszeged/ target="_blank" class="primary button small"><i class="fa fa-facebook fa-lg" style="color: white">&ensp;</i>BS Facebook</a><br>

            

            <a href="https://klik200218001.e-kreta.hu" target="_blank" class="success button small" style="color: white; line-height: 1.5rem">
              <img src="{{root}}assets/img/kreta-logo.png"><br>
              <strong>petofi.e-kreta.hu</strong></a>
              <br>
               <a href="https://klik200218003.e-kreta.hu" target="_blank" class="success button small" style="color: white; line-height: 1.5rem">
                <strong> <img src="{{root}}assets/img/kreta-logo.png"><br>
                balint.e-kreta.hu</strong></a>

                <br>
                <img src="{{root}}assets/img/iskolagyumolcs_logo.jpg" alt="">
                <p class="text-center" style="line-height: 1.2rem">
                    <small><strong>Iskolánk részt vesz<br>az iskolagyümölcs<br>programban.</strong></small>
                </p>
                <p class="text-center">
                  <strong>KORÁBBI ÉVEK HÍRFOLYAMAI:</strong>
                  <a href="{{root}}hirfolyam_2018_19.html">2018–2019-es tanév</a>
                  <a href="{{root}}hirfolyam_2017_18.html">2017–2018-as tanév</a>
                  <a href="{{root}}hirfolyam_2016_17.html">2016–2017-es tanév</a>

                </p>
          </p>


        
          
        

        






</div>
</div>





