<h5 class="text-center" style="margin-bottom: 1.1rem">
  A Szegedi Petőfi Sándor Általános Iskola Bálint Sándor Tagiskola tanárai
</h5>
<table class="hover">
  <tbody>
    <tr>
      <td width="180">Winkler Andrea</td>
      <td width="100">főiskola</td>
      <td width="320"><strong>intézményvezető</strong><br />
        matematika–földrajz szakos általános iskolai tanár<br />
        közoktatási vezető – szakvizsgázott pedagógus<br />
        szakközgazdász</td>
    </tr>
    <tr>
      <td>Dani Tiborné</td>
      <td>főiskola</td>
      <td><strong>tagintézmény-vezető</strong><br />
      tanító<br />
      matematika–kémia szakos tanár</td>
    </tr>
    <tr>
      <td>Ványi Szilvia</td>
      <td>egyetem</td>
      <td><strong>intézményvezető-helyettes</strong><br />
        földrajz szakos középiskolai tanár<br />
        okleveles etikatanár (erkölcstantanár)<br />
        mentorpedagógus – szakvizsgázott pedagógus
    </tr>
    <tr>
      <td>Bendéné Bán Gyöngyi</td>
      <td>főiskola</td>
      <td>magyar – történelem – ének–zene szakos tanár</td>
    </tr>
    <tr>
      <td>Czeglédyné Somi Éva</td>
      <td>főiskola</td>
      <td>földrajz–rajz szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Hurton Katalin</td>
      <td>főiskola</td>
      <td>kémia szakos általános iskolai tanár<br />
        katolikus kántor, általános iskolai tanító<br />
        szakvizsgázott pedagógus tantárgypedagógiai<br />
        kérdések az iskolai gyakorlatban területen
    </td>
    </tr>
    <tr>
      <td>Kalányos Krisztina</td>
      <td>egyetem</td>
      <td>fizika szakos tanár</td>
    </tr>
    <tr>
      <td>Kisné Fülöp Ilona</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Kovács-Kincses Emilia</td>
      <td>főiskola</td>
      <td>biológia–kémia szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Nagyistók Zsuzsanna</td>
      <td>főiskola</td>
      <td>matematika-földrajz tanár,<br />
          számítástechnika tanár</td>
    </tr>
   
    <tr>
      <td>Savanya Béláné</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Simonné Tóth Edina</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Skultéti Katalin</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Szegedi László</td>
      <td>főiskola</td>
      <td>földrajz–testnevelés szakos tanár</td>
    </tr>
    <tr>
      <td>Szegediné Sövényházi Erika</td>
      <td>főiskola</td>
      <td>orosz–történelem–angol szakos tanár</td>
    </tr>
    <tr>
      <td>Széllné Bartók Mária</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Tenk Zoltán</td>
      <td>főiskola</td>
      <td>biológia–földrajz szakos általános iskolai tanár<br>
        okleveles környezettantanár</td>
    </tr>
    <tr>
      <td>Tóthné Bereczk Gabriella</td>
      <td>főiskola</td>
      <td>tanító, közoktatási vezető,<br />
        szakvizsgázott pedagógus
      </td>
    </tr>
    <tr>
      <td>Töreki Erika</td>
      <td>főiskola</td>
      <td>magyar–történelem szakos tanár</td>
    </tr>
    <tr>
      <td>Túri Ágnes</td>
      <td>főiskola</td>
      <td>angol nyelvtanár</td>
    </tr>
    <tr>
      <td>Ungerné Fekete Mónika</td>
      <td>főiskola</td>
      <td>magyar tanár és könyvtáros<br>
          differenciáló, fejlesztő pedagógiai ismeretek<br> 
          – szakvizsgázott pedagógus, fejlesztőpedagógus</td>
    </tr>
    <tr>
      <td>Dr. Véghné Láczay Györgyi</td>
      <td>főiskola</td>
      <td>matematika–technika szakos tanár</td>
    </tr>
    <tr>
      <td>Vitaszek Attila</td>
      <td>főiskola</td>
      <td>matematika–testnevelés szakos tanár</td>
    </tr>
  </tbody>
</table>