<h5 class="text-center" style="margin-bottom: 1.1rem">
  A Szegedi Petőfi Sándor Általános Iskola tanárai
</h5>
<table class="hover">
  <tbody>
    <tr>
      <td width="180">Winkler Andrea</td>
      <td width="100">főiskola</td>
      <td width="320"><strong>intézményvezető</strong><br />
        matematika–földrajz szakos általános iskolai tanár<br />
        közoktatási vezető – szakvizsgázott pedagógus<br />
        szakközgazdász</td>
    </tr>
    <tr>
      <td>Tóthné Végh Zsuzsanna</td>
      <td>főiskola</td>
      <td><strong>intézményvezető-helyettes</strong><br />
        általános iskolai tanító</td>
    </tr>
    <tr>
      <td>Ványi Szilvia</td>
      <td>egyetem</td>
      <td><strong>intézményvezető-helyettes</strong><br />
        földrajz szakos középiskolai tanár<br />
        okleveles etikatanár (erkölcstantanár)<br />
        mentorpedagógus – szakvizsgázott pedagógus
    </tr>
    <tr>
      <td>Bendéné Bán Gyöngyi</td>
      <td>főiskola</td>
      <td>magyar – történelem – ének–zene szakos tanár</td>
    </tr>
    <tr>
      <td>Birinyi-Horváth Edit</td>
      <td>egyetem</td>
      <td>számítástechnika–matematika szakos tanár</td>
    </tr>
    <tr>
      <td>Czeglédyné Somi Éva</td>
      <td>főiskola</td>
      <td>földrajz–rajz szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Csányi Erika</td>
      <td>főiskola</td>
      <td>általános iskolai tanító</td>
    <tr>
      <td>Dudás Erzsébet</td>
      <td>főiskola</td>
      <td>általános iskolai tanító</td>
    </tr>
    <tr>
      <td>Erdélyi Mariann</td>
      <td>főiskola</td>
      <td>általános iskolai tanító<br />
        vizuális nevelés szakkollégiumi képesítés</td>
    </tr>
    <tr>
      <td>Fodorné Kiss Magolna</td>
      <td>főiskola</td>
      <td>tanító</td>
    </tr>
    <tr>
    <tr>
      <td>Gusztosné Thékes Andrea</td>
      <td>főiskola</td>
      <td>magyar–történelem szakos általános iskolai tanár</td>
    </tr>
    <tr>
    <td>Haumann Anett</td>
    <td>egyetem<br />
      főiskola</td>
    <td>okleveles német- és nemzetiségi német tanár<br />
      angol–német szakos tanár</td>
    </tr>
    <tr>
      <td>Kalányos Krisztina</td>
      <td>egyetem</td>
      <td>fizika szakos tanár</td>
    </tr>
    <tr>
      <td>Katona-Madarász Viktória</td>
      <td>egyetem<br />
          főiskola</td>
      <td>történelem szakos tanár<br />
          angol – történelem szakos tanár
      </td>
    </tr>
    <tr>
      <td>Kelemen Babett</td>
      <td>főiskola</td>
      </td>
      <td>tanító</td>
    </tr>
    <tr>
      <td>Kovács-Kincses Emilia</td>
      <td>főiskola</td>
      <td>biológia–kémia szakos általános iskolai tanár</td>
    </tr>
    <tr>
      <td>Molnár-Berkó Rita Tímea</td>
      <td>főiskola</td>
      <td>angol szakos tanár, gyógypedagógus,<br />tanulásban akadályozottak pedagógiája szakos tanár
      </td>
    </tr>
    <tr>
      <td>Nagyistók Zsuzsanna</td>
      <td>főiskola</td>
      <td>matematika-földrajz tanár,<br />
        számítástechnika tanár</td>
    </tr>
    <tr>
      <td>Pajkó Mihály Zsolt</td>
      <td>egyetem<br />
          főiskola</td>
      </td>
      <td>testnevelő tanár, testnevelés–technika szakos tanár<br />
          közoktatási vezető – szakvizsgázott pedagógus,<br />
          művelődésszervező</td>
    </tr>
    <tr>
      <td>Pakainé Bertók Katalin</td>
      <td>főiskola</td>
      <td>általános iskolai tanító</td>
    </tr>
    
    </tr>
    <tr>
      <td>Szabó Adrienne</td>
      <td>főiskola</td>
      <td>általános iskolai tanító</td>
    </tr>
    <tr>
      <td>Terhes Bernadett</td>
      <td>főiskola</td>
      <td>általános iskolai tanító</td>
    </tr>
    <tr>
      <td>Tenk Zoltán</td>
      <td>főiskola<br>
          egyetem
    </td>
      <td>biológia–földrajz szakos általános iskolai tanár<br>
          okleveles környezettantanár</td>
    </tr>
  </tbody>
</table>